

/* .main2 {
    margin-left: 50px;
} */

.background1 {
    background-color: #e3e1e1;
    border-radius: 50%;
    width: 380px;
    height: 400px;
    padding-top: 50px;
    margin: -40px auto 0 auto;
}

.background2 {
    background-color: #ebebeb;
    border-radius: 50%;
    width: 400px;
    height: 420px;
    padding-top: 50px;
    margin: -40px auto 0 auto;
}

.background3 {
    background-color: #f3f3f3;
    border-radius: 50%;
    width: 420px;
    height: 440px;
    padding-top: 50px;
}

.divwrapper {
    margin-top: -40px;
    margin-left: -30px;
}

.div1 {
    display: flex;
    margin-left: 50px;
}

.lorawandiv {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    /* padding: 20px 20px; */
    width: 106px;
    height: 107px;
    border-radius: 50%;
    animation: backgroundPop 4s ease-in-out infinite;
}

.lorawan {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.wavediv {
    margin-right: -60px;
    margin-top: 50px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.awsdiv {
    margin-right: 0;
    animation: backgroundPop 4s ease-in-out infinite;
}

.matterdiv {
    margin-left: -30px;
    margin-top: 20px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.zigbeediv {
    margin-left: -30px;
    margin-top: -10px;
    animation: backgroundPop 4s ease-in-out infinite;
}

/* .zigbeeimg {
    z-index: 2;
} */

@keyframes backgroundPop {
    0% {
      transform: scale(1); /* Start with normal size */
      background-position: center; /* Normal position */
    }
    50% {
      transform: scale(1.19); /* Pop-up effect: enlarge */
      background-position: center; /* Keep the image centered */
    }
    100% {
      transform: scale(1); /* Return to normal size */
      background-position: center; /* Normal position */
    }
}


.div2 {
    display: flex;
}

.awsdiv2 {
    margin-top: -30px;
    margin-left: 15px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.matterdiv2 {
    margin-left: -50px;
    margin-top: 10px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.zigbeediv2 {
    margin-left: -50px;
    margin-top: -40px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.phonediv {
    margin-left: -60px;
    margin-top: -75px;
    /* background-color: #f3f3f3;
    border-radius: 50%;
    width: 200px; */
    animation: backgroundPop 4s ease-in-out infinite;
}

.phoneimg {
    margin-left: 20px;
}

.awsdiv3 {
    margin-left: -20px;
    margin-top: -20px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.matterdiv3 {
    margin-top: 10px;
    margin-left: -50px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.zigbeediv3 {
    margin-top: -30px;
    margin-left: -50px;
    animation: backgroundPop 4s ease-in-out infinite;
}






.div3 {
    display: flex;
}

.alexadiv {
    margin-top: -150px;
    margin-left: 10px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.rainbowdiv {
    margin-top: -110px;
    margin-left: -30px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.homekitdiv {
    margin-top: -50px;
    margin-left: -55px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.matterdiv4 {
    margin-top: -45px;
    margin-left: -30px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.wavediv2 {
    margin-top: -25px;
    margin-left: -40px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.homekitdiv2 {
    margin-top: -65px;
    margin-left: -30px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.alexadiv2 {
    margin-top: -140px;
    margin-left: -110px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.rainbowdiv2 {
    margin-top: -110px;
    margin-left: -50px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.smartdivimg {
    margin-top: -60px;
    margin-left: 30px;
}



























































/* Add this to your PhoneBubble.module.css */
@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes backgroundPop {
    0% {
      transform: scale(1); /* Start with normal size */
      background-position: center; /* Normal position */
    }
    50% {
      transform: scale(1.1); /* Pop-up effect: enlarge */
      background-position: center; /* Keep the image centered */
    }
    100% {
      transform: scale(1); /* Return to normal size */
      background-position: center; /* Normal position */
    }
}


.main {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 20px 50px 120px;
    background-color: red;

}

.mymain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0;  */
    position: relative;
    /* animation: rotateAnimation 30s linear infinite;  */
  }
  
  .mybackground4 {
    position: absolute;
    width: 350px; /* Larger than mybackground3 */
    height: 350px;
    background-color: rgba(0, 0, 0, 0.03); /* Lighter background than mybackground3 */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mybackground3 {
    position: absolute;
    width: 300px; /* Larger than mybackground2 */
    height: 300px;
    background-color: rgba(0, 0, 0, 0.03); /* Lighter background than mybackground2 */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mybackground2 {
    position: absolute;
    width: 250px; /* Larger than mybackground1 */
    height: 250px;
    background-color: rgba(0, 0, 0, 0.05); /* Lighter background than mybackground1 */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mybackground1 {
    position: absolute;
    width: 200px; /* Smaller size */
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .myphonediv {
    position: relative;
    z-index: 2;
  }
  
  .myphoneimg {
    display: relative;
    z-index: 3; /* Ensure it's above the backgrounds */
  }

  /* Define independent classes for images */
.mymatterdiv1 {
    position: absolute;
    bottom: 295px;
    margin-left: 100px;
    left: 0;
    transform: translateX(-50%);
    z-index: 10;
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
}

.mymatterdiv2 {
    position: absolute;
    bottom: 125px;
    margin-left: -255px;
    transform: translateX(-50%);
    z-index: 10;
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
  }

  .mymatterdiv3 {
    position: absolute;
    bottom: 105px;
    left: 253px;
    transform: translateX(-50%);
    z-index: 10;
    margin-right: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 120px; 
    height: 96px; 
    box-sizing: border-box; 
    animation: backgroundPop 4s ease-in-out infinite;
  }
  
  
  .myawsdiv1 {
    position: absolute;
    right: 280px; 
    /* margin-left: 100px;  */
    z-index: 10;
    bottom: 165px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 120px; 
    height: 96px; 
    box-sizing: border-box; 
    animation: backgroundPop 4s ease-in-out infinite;
}

  /* .myawsimg {
    width: 136px;
    height: 96px;
    object-fit: contain;
  } */

  .myawsdiv2 {
    position: absolute;
    bottom: 300px;
    left: 30px;
    z-index: 10;
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
  }

  .myawsdiv3 {
    position: absolute; 
    bottom: 165px;
    right: 0; 
    z-index: 10;
    width: 120px; 
    height: 96px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    animation: backgroundPop 4s ease-in-out infinite;
  }
  
  .myzigbeediv1 {
    position: absolute;
    width: 120px; 
    height: 96px; 
    margin-top: 0;
    margin-bottom: 90px;
    margin-right: 185px; 
    z-index: 10;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundPop 4s ease-in-out infinite;
  }

  .myzigbeediv2 {
    position: absolute;
    width: 120px; 
    height: 96px; 
    margin-top: 0;
    margin-bottom: 330px;
    margin-left: 90px; 
    z-index: 10;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundPop 4s ease-in-out infinite;
  }

  .myzigbeediv3 {
    position: absolute;
    top: 85px;
    margin-left: 370px;
    z-index: 10;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
  }
  
  /* .mywavediv {
    position: absolute;
    bottom: 100px;
    right: 0;
    z-index: 10;
  } */

  .mywavediv1 {
    position: absolute;
    bottom: 240px;
    right: 225px;
    z-index: 10;
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
  }
  
  .mylorawandiv {
    width: 120px; /* Set width of the circle */
    height: 100px; /* Set height of the circle */
    background-color: #FFFFFF; /* Background color */
    border-radius: 50%; /* Makes the div a perfect circle */
    display: flex; /* Flexbox to center content */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    position: relative; /* To control image positioning if needed */
    z-index: 10;
    /* margin-top: -30px; */
    bottom: 120px;
    margin-left: 250px;
    box-shadow: 0px 0px 10px 5px rgba(123, 123, 123, 0.2);
    animation: backgroundPop 4s ease-in-out infinite;
  }
  
  .mylorawanimg {
    width: 80px; /* Allow image to adjust automatically */
    height: 30px; /* Set desired height for the image */
  }

  .myalexadiv1 {
    position: absolute;
    top: 200px;
    margin-left: -400px;
    z-index: 10;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 120px; 
    height: 96px; 
    z-index: 10;
    animation: backgroundPop 4s ease-in-out infinite;
  }

  .myalexadiv2 {
    position: absolute;
    top: 200px;
    margin-left: -137px;
    z-index: 10;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 120px; 
    height: 96px; 
    z-index: 10;
    animation: backgroundPop 4s ease-in-out infinite;
  }

  .myrainbowdiv1 {
    position: absolute;
    top: 215px;
    margin-left: -340px;
    z-index: 10;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
  }

  .myrainbowdiv2 {
    position: absolute;
    top: 215px;
    margin-left: -70px;
    z-index: 10;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
  }

  .myhomekitdiv1 {
    position: absolute;
    top: 280px;
    margin-left: -320px;
    z-index: 10;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
  }

  .myhomekitdiv2 {
    position: absolute;
    top: 260px;
    margin-left: -130px;
    z-index: 10;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
  }

.mymatterdiv4 {
    position: absolute;
    top: 290px;
    margin-left: -255px;
    z-index: 10;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
}

.mywavediv2 {
    position: absolute;
    top: 300px;
    margin-left: -190px;
    z-index: 10;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 120px; 
    height: 96px; 
    animation: backgroundPop 4s ease-in-out infinite;
  }

.belowdiv {
    display: flex;
}

/* .myphonediv2 {
    margin-left: 200px;
} */


  
  






























































































































































































































@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .main {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: space-around;
    }

    .bigsetimg {
        width: 550px;
    }
}

@media only screen and (min-width: 1801px) and (max-width: 2700px) {
    .main {
        margin-top: -700px;
        margin-bottom: 0;
        justify-content: space-around;
    }

    .bigsetimg {
        width: 700px;
    }
}

@media only screen and (min-width: 2701px) and (max-width: 3500px) {
    .main {
        margin-top: -800px;
        margin-bottom: 0;
        justify-content: space-around;
    }

    .bigsetimg {
        width: 700px;
    }
}

@media only screen and (min-width: 3501px) and (max-width: 4500px) {
    .main {
        margin-top: -800px;
        margin-bottom: 0;
        justify-content: space-around;
    }

    .bigsetimg {
        width: 800px;
    }
}









































































































































@media only screen and (min-width: 320px) and (max-width: 400px) {
    .main {
        /* margin: 50px auto; */
        flex-direction: column;
        margin: 50px 20px 50px 0;

    }

    .main2 {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .mymain {
        margin-top: -120px;
    }

    .myphonediv2 {
        margin-top: -80px;
    }

    .background1 {
        width: 300px;
        height: 350px;
    }
    
    .background2 {
        width: 330px;
        height: 370px;
    }
    
    .background3 {
        width: 340px;
        height: 390px;
    }

    .smartdivimg {
        margin-left: 0;
        margin-top: -90px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 480px) {
    .main {
        /* margin: 50px auto; */
        flex-direction: column;
        margin: 50px 20px 50px 0;
    }

    .main2 {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .mymain {
        margin-top: -180px;
    }

    .myphonediv2 {
        margin-top: -180px;
    }

    .background1 {
        width: 340px;
        height: 360px;
    }
    
    .background2 {
        width: 360px;
        height: 380px;
    }
    
    .background3 {
        width: 380px;
        height: 400px;
    }

    .smartdivimg {
        margin-left: 0;
        margin-top: -90px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    .main {
        /* margin: 50px auto; */
        flex-direction: column;
        margin: 50px 20px 50px 0;
    }

    .main2 {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .mymain {
        margin-top: -110px;
    }

    .myphonediv2 {
        margin-top: -130px;
    }

    .background1 {
        width: 360px;
        height: 370px;
    }
    
    .background2 {
        width: 380px;
        height: 390px;
    }
    
    .background3 {
        width: 400px;
        height: 410px;
    }

    .smartdivimg {
        margin-left: 0;
        margin-top: -90px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .main {
        /* margin: 50px auto; */
        flex-direction: column;
        margin: 50px 20px 50px 0;
    }

    .main2 {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .mymain {
        margin-top: -180px;
    }

    .myphonediv2 {
        margin-top: -180px;
    }

    .background1 {
        width: 380px;
        height: 380px;
    }
    
    .background2 {
        width: 400px;
        height: 400px;
    }
    
    .background3 {
        width: 420px;
        height: 420px;
    }

    .smartdivimg {
        margin-left: 0;
        margin-top: -90px;
        display: flex;
        justify-content: center;
    }
}


@media only screen and (min-width: 769px) and (max-width: 900px) {
    .main {
        /* margin: 50px auto; */
        flex-direction: column;
        margin: 50px 20px 50px 0;
    }

    .main2 {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .mymain {
        margin-top: -200px;
    }

    .myphonediv2 {
        margin-top: -200px;
    }

    .background1 {
        width: 400px;
        height: 390px;
    }
    
    .background2 {
        width: 420px;
        height: 410px;
    }
    
    .background3 {
        width: 440px;
        height: 430px;
    }

    .smartdivimg {
        margin-left: 0;
        margin-top: -90px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .main {
        /* margin: 50px auto; */
        flex-direction: column;
        margin: 50px 20px 50px 0;
    }

    .main2 {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .mymain {
        margin-top: -350px;
        margin-bottom: 130px;
    }

    .myphonediv2 {
        margin-top: -350px;
    }

    .background1 {
        width: 420px;
        height: 400px;
    }
    
    .background2 {
        width: 440px;
        height: 420px;
    }
    
    .background3 {
        width: 460px;
        height: 440px;
    }

    .smartdivimg {
        margin-left: 0;
        margin-top: -90px;
        display: flex;
        justify-content: center;
    }
}