.divmain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh; 
    width: 100%; 
}

.div1 {
  display: flex;
  background-color: #FFFFFF;
  height: 80px;
  padding: 20px 20px;
  border-radius: 20px;
  width: 270px;
  margin-top: -15px;
  /* animation: backgroundPop 4s ease-in-out infinite; */
}

.staffsnakediv {
  background-color: #5C755E;
  border-radius: 50%;
  /* padding: 7px 7px; */
  height: 58px;
  width: 58px;
  margin-top: -10px;
}

.hatman {
    margin: 10px auto 0 auto;
}

.staffsnake {
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 3px;
}

.ptext1 {
  color: #212121;
  font-size: 14px;
  margin-top: 13px;
  margin-left: 8px;
}

.seenflowdivs {
  margin-top: -30px;
  margin-left: 50px;
}

.divmain2 {
  display: flex;
  margin-left: 50px;
}

.seendown {
  display: flex;
  flex-direction: column;
}

.arrows {
  margin-left: 85px;
}

.lumovedivs {
  /* margin: auto; */
  margin-left: 160px;
  margin-top: -55px;
}

.lumovedivs2 {
    /* margin: auto; */
    margin-left: 160px;
    margin-top: 0;
  }

  .lumovedivs3 {
    /* margin: auto; */
    margin-left: 110px;
    margin-top: -20px;
  }

  .lumovedivs4 {
    /* margin: auto; */
    margin-left: 112px;
    margin-top: -21px;
  }





















.lumoves {
  font-size: 50px;
  margin-top: -30px;
}

.lumovediv2 {
  /* margin: auto; */
  margin-left: 0;
}
.lumove2 {
  font-size: 50px;
  margin-top: 3px;
}

.lumoveleftdiv {
  margin-left: 0;
}

.lumoveleft {
  font-size: 50px;
}

.lumoverightdiv {
  margin-left: 0;
}

.lumoveright {
  font-size: 50px;
}

.arrows {
  display: flex;
  gap: 30px;
}



.div2 {
  display: flex;
  background-color: #A97D5D;
  height: 80px;
  padding: 20px 20px;
  border-radius: 20px;
  width: 270px;
  margin-left: 50px;
  margin-top: -1px;
  /* animation: backgroundPop 4s ease-in-out infinite; */
}

.staffsnakediv2 {
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 5px 8px;
}

.staffsnak2 {
  font-size: 50px;
  color: #FFFFFF;
  margin-top: 5px;
}

.ptext2 {
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}



.divmains {
  display: flex;
  margin-left: -200px;
}







.div3mains {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 50px;
  gap: 20px;
}













.div3 {
  display: flex;
  background-color: #FFFFFF;
  height: 80px;
  padding: 20px 20px;
  border-radius: 20px;
  width: 270px;
  margin-top: -31px;
  /* animation: backgroundPop 4s ease-in-out infinite; */
}

.staffsnakediv3 {
  /* background-color: #5C755E; */
  border-radius: 50%;
  padding: 5px 5px;
  margin-top: -25px;
}

/* .doorimg {

} */

.staffsnake3 {
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 3px;
}

.ptext3 {
  color: #212121;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 8px;
}













.div4 {
  display: flex;
  background-color: #FFFFFF;
  height: 80px;
  padding: 10px 10px;
  border-radius: 20px;
  width: 270px;
  margin-top: -21px;
  /* animation: backgroundPop 4s ease-in-out infinite; */
}

.staffsnakediv4 {
  /* background-color: #5C755E; */
  border-radius: 50%;
  padding: 5px 0;
  margin-top: -70px;
  margin-left: -30px;
}

.staffsnake4 {
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 3px;
}

.ptext4 {
  color: #212121;
  font-size: 14px;
  margin-top: 12px;
  margin-left: -30px;
}













.div5 {
  display: flex;
  background-color: #FFFFFF;
  height: 80px;
  padding: 10px 10px;
  border-radius: 20px;
  width: 270px;
  margin-top: -22px;
  /* animation: backgroundPop 4s ease-in-out infinite; */
}

.staffsnakediv5 {
  /* background-color: #5C755E; */
  border-radius: 50%;
  padding: 5px 5px;
  margin-top: -3px;
  margin-left: -50px;
}

.staffsnake5 {
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 3px;
}

.ptext5 {
  color: #212121;
  font-size: 14px;
  margin-top: 22px;
  margin-left: 0;
}













.alert1 {
  display: flex;
  margin-left: 50px;
}

.alerth1 {
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.alertp1 {
  font-size: 15px;
  letter-spacing: 1px;
  width: 259px;
}

.alert2 {
  display: flex;
  margin-left: 10px;
}

.alerth2 {
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.alertp2 {
  font-size: 15px;
  letter-spacing: 1px;
  width: 259px;
}

.alertmain {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px -200px;
}

.alertdiv {
  background-color: white;
  /* padding: 5px; */
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin-right: 15px;
}

.alertimg {
  margin: 10px auto 0 auto;
}

.alertdiv2 {
  background-color: white;
  /* padding: 5px; */
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin-right: 15px;
}

.alertimg2 {
  margin: 10px auto 0 auto;
}

.alert2main {
  margin-left: 10px;
}

.lumovediv3 {
  display: none;
}

.lumovediv4 {
  display: none;
}



@keyframes backgroundPop {
  0% {
    transform: scale(1); /* Start with normal size */
    background-position: center; /* Normal position */
  }
  50% {
    transform: scale(1.05); /* Pop-up effect: enlarge */
    background-position: center; /* Keep the image centered */
  }
  100% {
    transform: scale(1); /* Return to normal size */
    background-position: center; /* Normal position */
  }
}









@media only screen and (min-width: 320px) and (max-width: 400px) {
  .divmain {
      flex-direction: column;
      align-items: center;
  }

  .divmain2 {
      flex-direction: column;
      align-items: center;
  }

  .seenflowimages {
      visibility: hidden;
  }

  .alertmain {
      flex-direction: column;
      margin-left: 0;
  }

  .alert2 {
      margin: auto;
  }

  .div3mains {
      flex-direction: column;
      margin-left: 0;
  }

  .div1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -50px;
      text-align: center;
      height: auto; 
      width: auto; 
  } 

  .divss {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .lumovedivs {
      /* margin-left: 160px; */
      margin:-120px 0 8px 150px;
      display: block;
      width: 200px;
      height: 100px;
  }

  .lumovedivs2 {
        margin:-21px 0 -102px 150px;
        display: block;
        width: 200px;
        height: 100px;
    }

    .lumovedivs3 {
        margin:-50px 0 -122px 150px;
        display: block;
        width: 200px;
        height: 100px;
    }

    .lumovedivs4 {
        margin:-80px 0 -62px 150px;
        display: block;
        width: 200px;
        height: 100px;
    }

    .lumovedivs5 {
        margin: auto;
        /* margin-left: 160px; */
        display: none;
    }

  .lumoves {
      font-size: 40px;
      margin-top: -110px;
  }

  .lumovediv3 {
      margin: auto;
      /* margin-left: 160px; */
      display: flex;
  }

  .lumove3 {
      font-size: 40px;
  }

  .lumovediv4 {
      margin: auto;
      /* margin-left: 160px; */
      display: flex;
  }

  .lumove4 {
      font-size: 40px;
      margin-top: 50px;
  }



  .lumoveleftdiv {
      margin-left: 0;
      display: none;
  }
  
  .lumoveleft {
      font-size: 50px;
  }
  
  .lumoverightdiv {
      margin-left: 0;
      display: none;
  }
  
  .lumoveright {
      font-size: 50px;
      display: none;
  }


  .arrows {
      margin: auto;
  }


  .ptext3 {
      margin-top: 5px;
      font-size: 15px;
  }

  .ptext4 {
      font-size: 15px;
      margin-top: 12px;
  }

  .ptext5 {
      font-size: 15px;
      margin-top: 14px;
  }

  

  .div2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -50px auto 20px auto;
      text-align: center;
      height: auto; 
      width: auto; 
  }

  .div3 {
      margin: 30px auto;
      width: 270px;
  }

  .div4 {
      display: flex;
      margin: 60px auto;
      width: 270px;
  }

  .div5 {
      display: flex;
      margin: auto;
      width: 270px;
  }

  .alertmain {
      flex-direction: column;
    }

    .alertdiv {
      margin: auto;
  }

  .alert1 {
      margin: 30px auto;
      flex-direction: column;
  }

  .alerth1 {
      text-align: center;
      margin-top: 10px;
  }

  .alertp1 {
      font-size: 17px;
      text-align: center;
  }

  .alerth2 {
      text-align: center;
      margin-top: 10px;
  }

  .alertp2 {
      font-size: 17px;
      text-align: center;
  }

  .alertdiv2 {
      margin: auto;
  }

  .alert2 {
      margin: 10px auto;
      flex-direction: column;
    }
}





@media only screen and (min-width: 401px) and (max-width: 480px) {
    .divmain {
        flex-direction: column;
        align-items: center;
    }
  
    .divmain2 {
        flex-direction: column;
        align-items: center;
    }
  
    .seenflowimages {
        visibility: hidden;
    }
  
    .alertmain {
        flex-direction: column;
        margin-left: 0;
    }
  
    .alert2 {
        margin: auto;
    }
  
    .div3mains {
        flex-direction: column;
        margin-left: 0;
    }
  
    .div1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
        text-align: center;
        height: auto; 
        width: auto; 
    } 
  
    .divss {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .lumovedivs {
        /* margin-left: 160px; */
        margin:-120px 0 8px 150px;
        display: block;
        width: 200px;
        height: 100px;
    }
  
    .lumovedivs2 {
          margin:-21px 0 -102px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
      .lumovedivs3 {
          margin:-50px 0 -122px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
      .lumovedivs4 {
          margin:-80px 0 -62px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
  
      .lumovedivs5 {
          margin: auto;
          /* margin-left: 160px; */
          display: none;
      }
  
    .lumoves {
        font-size: 40px;
        margin-top: -110px;
    }
  
    .lumovediv3 {
        margin: auto;
        /* margin-left: 160px; */
        display: flex;
    }
  
    .lumove3 {
        font-size: 40px;
    }
  
    .lumovediv4 {
        margin: auto;
        /* margin-left: 160px; */
        display: flex;
    }
  
    .lumove4 {
        font-size: 40px;
        margin-top: 50px;
    }
  
  
  
    .lumoveleftdiv {
        margin-left: 0;
        display: none;
    }
    
    .lumoveleft {
        font-size: 50px;
    }
    
    .lumoverightdiv {
        margin-left: 0;
        display: none;
    }
    
    .lumoveright {
        font-size: 50px;
        display: none;
    }
  
  
    .arrows {
        margin: auto;
    }
  
  
    .ptext3 {
        margin-top: 15px;
        font-size: 15px;
    }
  
    .ptext4 {
        font-size: 15px;
        margin-top: 20px;
    }
  
    .ptext5 {
        font-size: 15px;
    }
  
    
  
    .div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -50px auto 20px auto;
        text-align: center;
        height: auto; 
        width: auto; 
    }
  
    .div3 {
        margin: 30px auto;
        width: 270px;
    }
  
    .div4 {
        display: flex;
        margin: 60px auto;
        width: 270px;
    }
  
    .div5 {
        display: flex;
        margin: auto;
        width: 270px;
    }
  
    .alertmain {
        flex-direction: column;
      }
  
      .alertdiv {
        margin: auto;
    }
  
    .alert1 {
        margin: 30px auto;
        flex-direction: column;
    }
  
    .alerth1 {
        text-align: center;
        margin-top: 10px;
    }
  
    .alertp1 {
        font-size: 17px;
        text-align: center;
    }
  
    .alerth2 {
        text-align: center;
        margin-top: 10px;
    }
  
    .alertp2 {
        font-size: 17px;
        text-align: center;
    }
  
    .alertdiv2 {
        margin: auto;
    }
  
    .alert2 {
        margin: 10px auto;
        flex-direction: column;
      }
  
}








@media only screen and (min-width: 481px) and (max-width: 600px) {
    .divmain {
        flex-direction: column;
        align-items: center;
    }
  
    .divmain2 {
        flex-direction: column;
        align-items: center;
    }
  
    .seenflowimages {
        visibility: hidden;
    }
  
    .alertmain {
        flex-direction: column;
        margin-left: 0;
    }
  
    .alert2 {
        margin: auto;
    }
  
    .div3mains {
        flex-direction: column;
        margin-left: 0;
    }
  
    .div1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
        text-align: center;
        height: auto; 
        width: auto; 
    } 
  
    .divss {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .lumovedivs {
        /* margin-left: 160px; */
        margin:-120px 0 8px 150px;
        display: block;
        width: 200px;
        height: 100px;
    }
  
    .lumovedivs2 {
          margin:-21px 0 -102px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
      .lumovedivs3 {
          margin:-50px 0 -122px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
      .lumovedivs4 {
          margin:-80px 0 -62px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
  
      .lumovedivs5 {
          margin: auto;
          /* margin-left: 160px; */
          display: none;
      }
  
    .lumoves {
        font-size: 40px;
        margin-top: -110px;
    }
  
    .lumovediv3 {
        margin: auto;
        /* margin-left: 160px; */
        display: flex;
    }
  
    .lumove3 {
        font-size: 40px;
    }
  
    .lumovediv4 {
        margin: auto;
        /* margin-left: 160px; */
        display: flex;
    }
  
    .lumove4 {
        font-size: 40px;
        margin-top: 50px;
    }
  
  
  
    .lumoveleftdiv {
        margin-left: 0;
        display: none;
    }
    
    .lumoveleft {
        font-size: 50px;
    }
    
    .lumoverightdiv {
        margin-left: 0;
        display: none;
    }
    
    .lumoveright {
        font-size: 50px;
        display: none;
    }
  
  
    .arrows {
        margin: auto;
    }
  
  
    .ptext3 {
        margin-top: 15px;
        font-size: 15px;
    }
  
    .ptext4 {
        font-size: 15px;
        margin-top: 20px;
    }
  
    .ptext5 {
        font-size: 15px;
    }
  
    
  
    .div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -50px auto 20px auto;
        text-align: center;
        height: auto; 
        width: auto; 
    }
  
    .div3 {
        margin: 30px auto;
        width: 270px;
    }
  
    .div4 {
        display: flex;
        margin: 60px auto;
        width: 270px;
    }
  
    .div5 {
        display: flex;
        margin: auto;
        width: 270px;
    }
  
    .alertmain {
        flex-direction: column;
      }
  
      .alertdiv {
        margin: auto;
    }
  
    .alert1 {
        margin: 30px auto;
        flex-direction: column;
    }
  
    .alerth1 {
        text-align: center;
        margin-top: 10px;
    }
  
    .alertp1 {
        font-size: 17px;
        text-align: center;
    }
  
    .alerth2 {
        text-align: center;
        margin-top: 10px;
    }
  
    .alertp2 {
        font-size: 17px;
        text-align: center;
    }
  
    .alertdiv2 {
        margin: auto;
    }
  
    .alert2 {
        margin: 10px auto;
        flex-direction: column;
      }
  
}





@media only screen and (min-width: 601px) and (max-width: 768px) {
    .divmain {
        flex-direction: column;
        align-items: center;
    }
  
    .divmain2 {
        flex-direction: column;
        align-items: center;
    }
  
    .seenflowimages {
        visibility: hidden;
    }
  
    .alertmain {
        flex-direction: column;
        margin-left: 0;
    }
  
    .alert2 {
        margin: auto;
    }
  
    .div3mains {
        flex-direction: column;
        margin-left: 0;
    }
  
    .div1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
        text-align: center;
        height: auto; 
        width: auto; 
    } 
  
    .divss {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .lumovedivs {
        /* margin-left: 160px; */
        margin:-120px 0 8px 150px;
        display: block;
        width: 200px;
        height: 100px;
    }
  
    .lumovedivs2 {
          margin:-21px 0 -102px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
      .lumovedivs3 {
          margin:-50px 0 -122px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
      .lumovedivs4 {
          margin:-80px 0 -62px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
    
      .lumovedivs5 {
          margin: auto;
          /* margin-left: 160px; */
          display: none;
      }
  
    .lumoves {
        font-size: 40px;
        margin-top: -110px;
    }
  
    .lumovediv3 {
        margin: auto;
        /* margin-left: 160px; */
        display: flex;
    }
  
    .lumove3 {
        font-size: 40px;
    }
  
    .lumovediv4 {
        margin: auto;
        /* margin-left: 160px; */
        display: flex;
    }
  
    .lumove4 {
        font-size: 40px;
        margin-top: 50px;
    }
  
  
  
    .lumoveleftdiv {
        margin-left: 0;
        display: none;
    }
    
    .lumoveleft {
        font-size: 50px;
    }
    
    .lumoverightdiv {
        margin-left: 0;
        display: none;
    }
    
    .lumoveright {
        font-size: 50px;
        display: none;
    }
  
  
    .arrows {
        margin: auto;
    }
  
  
    .ptext3 {
        margin-top: 15px;
        font-size: 15px;
    }
  
    .ptext4 {
        font-size: 15px;
        margin-top: 20px;
    }
  
    .ptext5 {
        font-size: 15px;
    }
  
    
  
    .div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -50px auto 20px auto;
        text-align: center;
        height: auto; 
        width: auto; 
    }
  
    .div3 {
        margin: 30px auto;
        width: 270px;
    }
  
    .div4 {
        display: flex;
        margin: 60px auto;
        width: 270px;
    }
  
    .div5 {
        display: flex;
        margin: auto;
        width: 270px;
    }
  
    .alertmain {
        flex-direction: column;
      }
  
      .alertdiv {
        margin: auto;
    }
  
    .alert1 {
        margin: 30px auto;
        flex-direction: column;
    }
  
    .alerth1 {
        text-align: center;
        margin-top: 10px;
    }
  
    .alertp1 {
        font-size: 17px;
        text-align: center;
    }
  
    .alerth2 {
        text-align: center;
        margin-top: 10px;
    }
  
    .alertp2 {
        font-size: 17px;
        text-align: center;
    }
  
    .alertdiv2 {
        margin: auto;
    }
  
    .alert2 {
        margin: 10px auto;
        flex-direction: column;
      }
  
}






@media only screen and (min-width: 769px) and (max-width: 900px) {
    .divmain {
        flex-direction: column;
        align-items: center;
    }
  
    .divmain2 {
        flex-direction: column;
        align-items: center;
    }
  
    .seenflowimages {
        visibility: hidden;
    }
  
    .alertmain {
        flex-direction: column;
        margin-left: 0;
    }
  
    .alert2 {
        margin: auto;
    }
  
    .div3mains {
        flex-direction: column;
        margin-left: 0;
    }
  
    .div1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
        text-align: center;
        height: auto; 
        width: auto; 
    } 
  
    .divss {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .lumovedivs {
        /* margin-left: 160px; */
        margin:-120px 0 8px 150px;
        display: block;
        width: 200px;
        height: 100px;
    }
  
    .lumovedivs2 {
          margin:-21px 0 -102px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
      .lumovedivs3 {
          margin:-50px 0 -122px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
      .lumovedivs4 {
          margin:-80px 0 -62px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
  
      .lumovedivs5 {
          margin: auto;
          /* margin-left: 160px; */
          display: none;
      }
  
    .lumoves {
        font-size: 40px;
        margin-top: -110px;
    }
  
    .lumovediv3 {
        margin: auto;
        /* margin-left: 160px; */
        display: flex;
    }
  
    .lumove3 {
        font-size: 40px;
    }
  
    .lumovediv4 {
        margin: auto;
        /* margin-left: 160px; */
        display: flex;
    }
  
    .lumove4 {
        font-size: 40px;
        margin-top: 50px;
    }
  
  
  
    .lumoveleftdiv {
        margin-left: 0;
        display: none;
    }
    
    .lumoveleft {
        font-size: 50px;
    }
    
    .lumoverightdiv {
        margin-left: 0;
        display: none;
    }
    
    .lumoveright {
        font-size: 50px;
        display: none;
    }
  
  
    .arrows {
        margin: auto;
    }
  
  
    .ptext3 {
        margin-top: 15px;
        font-size: 15px;
    }
  
    .ptext4 {
        font-size: 15px;
        margin-top: 20px;
    }
  
    .ptext5 {
        font-size: 15px;
    }
  
    
  
    .div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -50px auto 20px auto;
        text-align: center;
        height: auto; 
        width: auto; 
    }
  
    .div3 {
        margin: 30px auto;
        width: 270px;
    }
  
    .div4 {
        display: flex;
        margin: 60px auto;
        width: 270px;
    }
  
    .div5 {
        display: flex;
        margin: auto;
        width: 270px;
    }
  
    .alertmain {
        flex-direction: column;
      }
  
      .alertdiv {
        margin: auto;
    }
  
    .alert1 {
        margin: 30px auto;
        flex-direction: column;
    }
  
    .alerth1 {
        text-align: center;
        margin-top: 10px;
    }
  
    .alertp1 {
        font-size: 17px;
        text-align: center;
    }
  
    .alerth2 {
        text-align: center;
        margin-top: 10px;
    }
  
    .alertp2 {
        font-size: 17px;
        text-align: center;
    }
  
    .alertdiv2 {
        margin: auto;
    }
  
    .alert2 {
        margin: 10px auto;
        flex-direction: column;
      }
  
}









@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .divmain {
        flex-direction: column;
        align-items: center;
    }
  
    .divmain2 {
        flex-direction: column;
        align-items: center;
    }
  
    .seenflowimages {
        visibility: hidden;
    }
  
    .alertmain {
        flex-direction: column;
        margin-left: 0;
    }
  
    .alert2 {
        margin: auto;
    }
  
    .div3mains {
        flex-direction: column;
        margin-left: 0;
    }
  
    .div1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
        text-align: center;
        height: auto; 
        width: auto; 
    } 
  
    .divss {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .lumovedivs {
        /* margin-left: 160px; */
        margin:-120px 0 8px 150px;
        display: block;
        width: 200px;
        height: 100px;
    }
  
    .lumovedivs2 {
          margin:-21px 0 -102px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
      .lumovedivs3 {
          margin:-50px 0 -122px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
      .lumovedivs4 {
          margin:-80px 0 -62px 150px;
          display: block;
          width: 200px;
          height: 100px;
      }
  
  
      .lumovedivs5 {
          margin: auto;
          /* margin-left: 160px; */
          display: none;
      }
  
    .lumoves {
        font-size: 40px;
        margin-top: -110px;
    }
  
    .lumovediv3 {
        margin: auto;
        /* margin-left: 160px; */
        display: flex;
    }
  
    .lumove3 {
        font-size: 40px;
    }
  
    .lumovediv4 {
        margin: auto;
        /* margin-left: 160px; */
        display: flex;
    }
  
    .lumove4 {
        font-size: 40px;
        margin-top: 50px;
    }
  
  
  
    .lumoveleftdiv {
        margin-left: 0;
        display: none;
    }
    
    .lumoveleft {
        font-size: 50px;
    }
    
    .lumoverightdiv {
        margin-left: 0;
        display: none;
    }
    
    .lumoveright {
        font-size: 50px;
        display: none;
    }
  
  
    .arrows {
        margin: auto;
    }
  
  
    .ptext3 {
        margin-top: 15px;
        font-size: 15px;
    }
  
    .ptext4 {
        font-size: 15px;
        margin-top: 20px;
    }
  
    .ptext5 {
        font-size: 15px;
    }
  
    
  
    .div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -50px auto 20px auto;
        text-align: center;
        height: auto; 
        width: auto; 
    }
  
    .div3 {
        margin: 30px auto;
        width: 270px;
    }
  
    .div4 {
        display: flex;
        margin: 60px auto;
        width: 270px;
    }
  
    .div5 {
        display: flex;
        margin: auto;
        width: 270px;
    }
  
    .alertmain {
        flex-direction: column;
      }
  
      .alertdiv {
        margin: auto;
    }
  
    .alert1 {
        margin: 30px auto;
        flex-direction: column;
    }
  
    .alerth1 {
        text-align: center;
        margin-top: 10px;
    }
  
    .alertp1 {
        font-size: 17px;
        text-align: center;
    }
  
    .alerth2 {
        text-align: center;
        margin-top: 10px;
    }
  
    .alertp2 {
        font-size: 17px;
        text-align: center;
    }
  
    .alertdiv2 {
        margin: auto;
    }
  
    .alert2 {
        margin: 10px auto;
        flex-direction: column;
      }
  
}